@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}

section[id] {
  scroll-margin-top: 5rem;
}

#nav-toggle:checked ~ div label .hamburger-icon {
  display: none;
}

#nav-toggle:checked ~ div label .close-icon {
  display: block;
}
